<a class="btn btn-primary" href="http://devlain.github.io/digivice/#/"><i class="fa fa-group"></i> Party</a><br>


<div class="center-block">
	<h1>Eclair's Diary</h1>
	<div class="well text-justify fixed-well center-block">
		<h2>First Entry</h2>

		<p>Looking back, we thought it was only a game. A great adventure, so full of excitement, that we didn't care about the consequences. It was us, our partners, and we didn't need anything else.</p>

		<p>We were Happy.</p>

		<p>But we forgot that, even though it was a game for us, it was something important for others.</p>

		<p>We cried, we suffered, we hated and we loved.</p>

		<p>I guess, some of us would change things if we could. But that would make the sacrifices we made... useless.</p>

		<p>If we could do it all over again, we would.</p>

		<p>Let me tell you about our great adventure.</p>
	</div>
</div>

