<a class="btn btn-primary pull-" href="http://devlain.github.io/digivice/#/"><i class="fa fa-group"></i> Party</a><br>


<div class="center-block">
	<h1>Digimon</h1>
	<div class="well text-center fixed-well center-block">
		<div class="text-center">
			<div class="fieldtag" ng-class="tamer.colorclass">
				<span class="tamer-name">{{tamer.digimon.name}}</span>
			</div>
		</div>
		<div class="fieldtag attr-tag pull-right" ng-class="tamer.colorclass">
				<span class="tamer-name"><i class="fa" ng-class="tamer.digimon.attrIcon"></i></span>
			</div>
		<p></p>
		<img class="img-circle img-responsive digimon-portait center-block" ng-src="{{tamer.digimon.img}}">
		<p></p>
		<ul class="data-group list-group text-center">
			<li class="list-group-item" ng-class="tamer.colorclass">{{tamer.digimon.name}}</li>
			<li class="list-group-item">{{tamer.digimon.specie}}</li>
		</ul>
	</div>
</div>

